.section{
    background-color: white;
    height: 100vh;
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.username{
    font-size: .75rem;
    font-weight: 500;
    color: #404040;
    margin-bottom: 0.2rem;
}
.user_position{
    font-size: 0.5rem;
    color: #909090;
    font-weight: 600;
    text-transform: uppercase;
}
.user_info{
    display: flex;
    margin-bottom: 1rem;
    border-radius: .25rem;
}

.avatar{
    width: 2rem;
    height: 2rem;
}
.user_information{display: none;}


@media (min-width: 900px){
    .user_information{
        display: block;
    }
    .section{
        padding: 0 1rem;
    }
   .user_info{
    border: 1px solid rgba(0, 0, 0, 10%);
    width: 100%;
    padding: .5rem .5rem;
   }
   .avatar{
    margin-right: 0.5rem;
   }
}